*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background-color: #c42b2b;
    color:blue;
position: fixed;
top:0;
width: 100%;
padding: 15px 0;
z-index: 1000;
}
nav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
nav ul li{
    margin: 0 15px;
}
nav ul li a{
    color: #7b4ed0;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
}
nav ul li a:hover{
    color: #a8e9ff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
}
.banner{
    background-image: url('../assets/img/img1.jpg');
    background-size: cover;
    background-position: center;
    padding: 60px 20px;
    text-align: center;
    color: aqua;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    position: relative;
    overflow: hidden;
    
}
.banner h2{
    font-size: 2.5em;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.banner p{
    font-size: 1.2em;
    margin-bottom: 30px;
}

.call-to-action{
    background-color: rgb(130, 100, 249);
    color:aquamarine;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.call-to-action:hover{
    background-color: #7b4ed0;
}
.vidro{
    background-color: rgba(240, 248, 255, 0.404);
    width: 500px;
    height: 175px;
    border-radius: 15px;
}
.card-section{
    padding: 50px 20px;
    background-color: #a8e9ff;
    text-align: center;
}
.card-container{
    display: flex;
    justify-content: space-around;
}
.card{
    background-color: #e3dbf2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(203, 7, 167, 0.404);
    margin: 20px;
    width: 300px;
    padding: 20px;
}


.card img{
    width: 100%;
    border-radius: 10px;
}
.card h3{
    font-size: 1.5em;
    margin: 15px 0;
}
.card a{
    background-color: rgb(247, 136, 236);
    color: #521a25;
    text-decoration: darksalmon;
    padding: 10px 20px;
    border-radius: 5px;
}